<div class="row">
    <div class="col-12">
        @for (local of locales_shown; track $index) {
          <button class="m-1" [ngClass]="local.application && local.database === true ? 'btn btn-outline-success' : 'btn btn-outline-danger'" (click)="show_data(local)">
            <span><b>{{ local.tienda }}</b><br/>
              <span class="m-1" [ngClass]="local.database === true ? 'badge rounded-pill text-bg-success' : 'badge rounded-pill text-bg-danger'">
                <i class="fa-solid fa-database"></i>
              </span>
              <span class="m-1" [ngClass]="local.application === true ? 'badge rounded-pill text-bg-success' : 'badge rounded-pill text-bg-danger'">
                <i class="fa-solid fa-power-off"></i>
              </span>
            </span>
          </button>
        }
    </div>
</div>






